@media (min-width:992px) and (max-width:1200px){
    /*Inicio*/
    .cajas{
        @include bordes(1px solid $color-primario, 25px);
        @include box-model(20px, 20px);
        text-align: center;
        .caja{
            @include box-model(20px, 20px);
        }
    }
    .contacto{
        @include bordes(1px solid $color-primario, 20px);
        @include box-model(40px, 10px);
        text-align: center;
        .telefono{
            display: block;
        }
        .consultas-formulario{
            .formulario{
                width: 50%;
                margin: 0 auto;
                align-items: center;
                    input, textarea{
                        border: 1px $color-primario solid;
                        border-radius: 5px;
                        font-style: italic;
                        margin: 5px;
                        width: 100%;
                        text-align: center;
                            &::placeholder{
                                color: $color-primario
                            }
                    }
                    .boton-enviar{
                        color: whitesmoke !important;
                        background-color: $color-primario;
                        padding: 1.5px;
                    }
            }
        }
    }
    
    /* Sabores */
    .sabores-cajas{
        @include bordes(1px solid $color-primario, 20px);
        @include box-model(unset, 20px);
        display: flex;
        .main-cajas-contenido{
            .pino-lemon-img{
                border-radius: 20px 0 0 20px;
            }
            .franuty-pretto-img{
                border-radius: 0 20px 20px 0;
            }
            h2{
                text-align: center;
                margin: 20px;
            }
            p{
                margin: 20px;
            }
            .franuty-pretto{
                text-align: end;
            }
        }
    }
    .caja-scalo{
        @include bordes(3px solid $color-primario, 20px);
        @include box-model(unset, 20px);
        text-align: center;
        h2{
            margin: 20px;
        }
        img{
            width: 100%;
        }
        p{
            margin: 20px;
        }
    }
    
    /* Postres */
.grid-postres{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
        .tarjeta-postres{
            img{
                @include medidas(100%, 420px);
            }
        }
        .tarjeta-brownie{
            grid-column: 1 / span 2;
            width: 50%;
            margin: 0 auto;
        }
}

    /* Cafeteria*/
.cafeteria-img-principal{
    width: 100%;
    margin-bottom: 10px;
}

   /* Nosotros */
.historia-nosotros{
    .descripcion-nosotros{
        text-align: center;
        margin-bottom: 20px;
    }
}
.nosotros-articulo{
    margin-top: 20px;
    text-align: center;
}
}
@media (min-width:1200px) and (max-width:1400px){
    /*Inicio*/
.cajas{
    @include bordes(1px solid $color-primario, 25px);
    @include box-model(20px, 20px);
    text-align: center;
        .caja{
            @include box-model(20px, 20px);
        }
}
.contacto{
    @include bordes(1px solid $color-primario, 20px);
    @include box-model(40px, 10px);
    text-align: center;
        .info{
            .telefono{
                display: block;
            }
        }
        .consultas-formulario{
            .formulario{
                width: 50%;
                margin: 0 auto;
                align-items: center;
                    input, textarea{
                        border: 1px $color-primario solid;
                        border-radius: 5px;
                        font-style: italic;
                        margin: 5px;
                        width: 100%;
                        text-align: center;
                            &::placeholder{
                                color: $color-primario
                            }
                    }
                    .boton-enviar{
                        color: whitesmoke !important;
                        background-color: $color-primario;
                        padding: 1.5px;
                            &:hover{
                                color: $color-primario !important;
                                background-color: whitesmoke;
                            }
                    }
            }
        }
}

    /* Sabores */
.sabores-cajas{
    @include bordes(1px solid $color-primario, 20px);
    margin: 20px;
    display: flex;
    .pino-lemon-img{
        border-radius: 20px 0 0 20px;
    }
    .franuty-pretto-img{
        border-radius: 0 20px 20px 0;
    }
    h2{
        text-align: center;
        margin: 20px;
    }
    p{
        margin: 20px;
    }
    .franuty-pretto{
        text-align: end;
    }
}
.caja-scalo{
    @include bordes(3px solid $color-primario, 20px);
    margin: 20px;
    text-align: center;
        h2, p{
            margin: 20px;
        }
        img{
            width: 100%;
        }
}

    /* Postres */
.grid-postres{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
        .tarjeta-postres{
            @include bordes(1px solid $color-primario, 15px);
            margin: 20px;
            text-align: center;
                h3{
                    margin: 15px;
                }
                img{
                    width: 100%;
                    height: 500px;
                }
        }
        .tarjeta-brownie{
            grid-column: 1 / span 2;
            width: 50%;
            margin: 0 auto;
        }
}

    /* Cafeteria */
.cafeteria-img-principal{
    width: 100%;
    margin: 10px;
}

    /* Nosotros */
.historia-nosotros{
    .descripcion-nosotros{
        text-align: center;
        margin-bottom: 20px;
    }
}
.nosotros-articulo{
    margin-top: 20px;
    text-align: center;
}
}
@media (min-width:1400px){
    /*Inicio*/
.cajas{
    @include bordes(1px solid $color-primario, 25px);
    @include box-model(20px, 20px);
    text-align: center;
    .caja{
        @include box-model(20px, 20px);
    }
}
.contacto{
    @include bordes(2px solid $color-primario, 20px);
    @include box-model(40px, 10px);
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
        .info{
            .telefono{
                display: block;
            }
        }
        .consultas-formulario{
            .formulario{
                width: 50%;
                margin: 0 auto;
                align-items: center;
                    input, textarea{
                        border: 1px $color-primario solid;
                        border-radius: 5px;
                        font-style: italic;
                        margin: 5px;
                        width: 100%;
                        text-align: center;
                            &::placeholder{
                                color: $color-primario
                            }
                    }
                    .boton-enviar{
                        color: whitesmoke !important;
                        background-color: $color-primario;
                        padding: 1.5px;
                            &:hover{
                                color: $color-primario !important;
                                background-color: whitesmoke;
                            }
                    }
            }
        }
}

    /* Sabores */
.sabores-cajas{
    @include bordes(1px solid $color-primario, 20px);
    margin: 20px;
    display: flex;
    .pino-lemon-img{
        border-radius: 20px 0 0 20px;
    }
    .franuty-pretto-img{
        border-radius: 0 20px 20px 0;
    }
    h2{
        margin: 20px;
        text-align: center;
    }
    p{
        margin: 20px;
    }
    .franuty-pretto{
        text-align: end;
    }
}
.caja-scalo{
    @include bordes(3px solid $color-primario, 20px);
    margin: 20px;
    text-align: center;
        img{
            width: 100%;
        }
        h2, p{
            margin: 20px;
        }
}

    /* Postres */
.postres-caja-principal{
    width: 50%;
    display: flex;
        img{
            border-radius: 5px;
        }
        h1{
            display: inline;
            margin-left: 45% !important;
            margin-top: 25% !important;
        }
}
.grid-postres{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    margin-top: 20px;
        .tarjeta-postres{
            @include bordes(1px solid $color-primario, 15px);
            margin: 20px;
            text-align: center;
                h3{
                    margin: 15px;
                }
                img{
                    @include medidas(100%, 550px);           
                }
                p{
                    margin: 10px 20px;
                }
        }
        .tarjeta-brownie{
            grid-column: 3;
        }
}
.grid-alm-bom{
    display: grid;
    grid-template-columns: repeat(2, auto) !important;
}

    /* Cafeteria */
.cafeteria-img-principal{
    width: 100%;
}
.cafeteria-contenido{
    margin-top: 30px;
        .row{
            .col{
                @include bordes(1px solid $color-primario, 15px);
                margin: 10px;
                    h3{
                        margin: 10px;
                    }
            }                
        }
}

    /* Nosotros */
.historia-nosotros{
    display: flex;
        img{
            width: 60%;
        }
        .descripcion-nosotros{
            width: 40%;
            text-align: center;
            align-content: center;
                h1{
                    margin-bottom: 3rem;
                }
                strong{
                    margin: 0 50px;
                }
        }
}
.linea-nosotros{
    display: none;
}
.nosotros-articulo{
    text-align: center;
        h2{
            margin: 50px 0 15px;
        }
}
}