@media (min-width:992px) and (max-width:1200px){
    /*Inicio*/
.cajas{
    @include bordes(1px solid $color-primario, 25px);
    @include box-model(20px, 20px);
    text-align: center;
        .caja{
            @include bordes(1px solid $color-primario, 25px);
            @include box-model(20px, 20px);
        }
}
.contacto{
    @include bordes(1px solid $color-primario, 20px);
    @include box-model(40px, 10px);
    text-align: center;
        .telefono{
            display: block;
        }
        .consultas-formulario{
            .formulario{
                @include bordes(1px solid $color-primario, 20px);
                @include box-model(30px 40px, 20px);
                display: flex;  
            }
        }
}

   /* Sabores */
.sabores-titulo{
    margin-top: 30px;
    text-decoration: underline;
    text-align: center;
}
.sabores-cajas{
    @include bordes(1px solid $color-primario, 20px);
    @include box-model(unset, 20px);
    display: flex;
        .main-cajas-contenido{
            .pino-lemon-img{
                border-radius: 20px 0 0 20px;
            }
            .franuty-pretto-img{
                border-radius: 0 20px 20px 0;
            }
            h2{
                text-align: center;
                margin: 20px;
            }
            p{
                margin: 20px;
            }
            .franuty-pretto{
                text-align: end;
            }
        }
}
.caja-scalo{
    @include bordes(3px solid $color-primario, 20px);
    @include box-model(unset, 20px);
    text-align: center;
        h2{
            margin: 20px;
        }
        img{
            width: 100%;
        }
        p{
            margin: 20px;
        }
}

    /* Postres */
.postres-titulo{
    text-align: center;
    text-decoration: underline;
    margin: 20px;
}
.grid-postres{
    display: grid;
    grid-template-columns: repeat(2, auto);
        .tarjeta-postres{
            @include bordes(1px solid $color-primario, 155px);
            margin: 20px;
            text-align: center;
                h3{
                    margin: 15px;
                }
                img{
                    @include medidas(100%, 420px);
                }
        }
        .tarjeta-brownie{
            grid-column: 1 / span 2;
            width: 50%;
            margin: 0 auto;
        }
}
.linea-divisora{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px !important;
}

    /* Cafeteria*/
.cafeteria-img-principal{
    width: 100%;
    margin-bottom: 10px;
}
.tarjeta-cafeteria{
    @include bordes(1px solid $color-primario, 15px);
    margin: 10px;
        h3{
            margin: 10px;
        }
}

   /* Nosotros */
.historia-nosotros{
    .descripcion-nosotros{
        text-align: center;
        margin-bottom: 20px;
    }
}
.nosotros-articulo{
    margin-top: 20px;
    text-align: center;
}
}
@media (min-width:1200px) and (max-width:1400px){
    /*Inicio*/
.cajas{
    @include bordes(1px solid $color-primario, 25px);
    @include box-model(20px, 20px);
    text-align: center;
        .caja{
            @include bordes(1px solid $color-primario, 25px);
            @include box-model(20px, 20px);
        }
}
.contacto{
    @include bordes(1px solid $color-primario, 20px);
    @include box-model(40px, 10px);
    text-align: center;
        .info{
            .telefono{
                display: block;
            }
        }
        .consultas-formulario{
            .formulario{
                @include bordes(1px solid $color-primario, 20px);
                @include box-model(30px 40px, 20px);
                display: flex;
            }
        }
}

    /* Sabores */
.sabores-titulo{
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}
.sabores-cajas{
    @include bordes(1px solid $color-primario, 20px);
    margin: 20px;
    display: flex;
    .pino-lemon-img{
        border-radius: 20px 0 0 20px;
    }
    .franuty-pretto-img{
        border-radius: 0 20px 20px 0;
    }
    h2{
        text-align: center;
        margin: 20px;
    }
    p{
        margin: 20px;
    }
    .franuty-pretto{
        text-align: end;
    }
}
.caja-scalo{
    @include bordes(3px solid $color-primario, 20px);
    margin: 20px;
    text-align: center;
        h2, p{
            margin: 20px;
        }
        img{
            width: 100%;
        }
}

    /* Postres */
.postres-titulo{
    text-align: center;
    text-decoration: underline;
    margin: 40px;
}
.grid-postres{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    .tarjeta-postres{
        @include bordes(1px solid $color-primario, 15px);
        margin: 20px;
        text-align: center;
            h3{
                margin: 15px;
            }
            img{
                width: 100%;
                height: 500px;
            }
    }
    .tarjeta-brownie{
        grid-column: 1 / span 2;
        width: 50%;
        margin: 0 auto;
    }
}
.linea-divisora{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

    /* Cafeteria */
.cafeteria-img-principal{
    width: 100%;
    margin: 10px;
}
.tarjeta-cafeteria{
    border: 1px solid $color-primario;
    border-radius: 15px;
    margin: 10px;
        h3{
            margin: 10px;
        }
}

    /* Nosotros */
.historia-nosotros{
    .descripcion-nosotros{
        text-align: center;
        margin-bottom: 20px;
    }
}
.nosotros-articulo{
    margin-top: 20px;
    text-align: center;
}
}
@media (min-width:1400px){
    /*Inicio*/
.cajas{
    @include bordes(1px solid $color-primario, 25px);
    @include box-model(20px, 20px);
    text-align: center;
    .caja{
        @include bordes(1px solid $color-primario, 25px);
        @include box-model(20px, 20px);
    }
}
.contacto{
    @include bordes(1px solid $color-primario, 20px);
    @include box-model(20px, 4rem 13rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
        .info{
            width: 50%;
            text-align: center;
                .telefono{
                    display: block;
                }
        }
        .consultas-formulario{
            border: 1px solid $color-primario;
            border-radius: 20px;
            position: relative;
            width: 50%;
            padding: 40px;
                textarea{
                    padding: 10px;
                    border: 1px solid $color-primario;
                    align-items: flex-end;
                }
                .consulta-envianos-consulta{
                    width: 50%;
                    display: flex;
                    position: absolute;
                        .formulario{
                            width: 100%;
                            display: inline-flex;
                                input{
                                    justify-self: center
                                }
                        }
                }
        }
}

    /* Sabores */
.sabores-titulo{
    margin-top: 30px;
    text-decoration: underline;
    text-align: center;
}
.sabores-cajas{
    @include bordes(1px solid $color-primario, 20px);
    margin: 20px;
    display: flex;
    .pino-lemon-img{
        border-radius: 20px 0 0 20px;
    }
    .franuty-pretto-img{
        border-radius: 0 20px 20px 0;
    }
    h2{
        margin: 20px;
        text-align: center;
    }
    p{
        margin: 20px;
    }
    .franuty-pretto{
        text-align: end;
    }
}
.caja-scalo{
    @include bordes(3px solid $color-primario, 20px);
    margin: 20px;
    text-align: center;
        img{
            width: 100%;
        }
        h2, p{
            margin: 20px;
        }
}

    /* Postres */
.postres-caja-principal{
    width: 50%;
    display: flex;
        img{
            border-radius: 5px;
        }
        h1{
            text-align: center;
            text-decoration: underline;
            display: inline;
            margin-left: 45%;
            margin-top: 25%;
        }
}
.grid-postres{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    margin-top: 20px;
        .tarjeta-postres{
            @include bordes(1px solid $color-primario, 15px);
            margin: 20px;
            text-align: center;
                h3{
                    margin: 15px;
                }
                img{
                    @include medidas(100%, 550px);           
                }
                p{
                    margin: 10px 20px;
                }
        }
        .tarjeta-brownie{
            grid-column: 3;
        }
        .linea-divisora{
            width: 90%;
            margin: 0 auto;
        }
}
.grid-alm-bom{
    display: grid;
    grid-template-columns: repeat(2, auto) !important;
}

    /* Cafeteria */
.cafeteria-img-principal{
    width: 100%;
}
.cafeteria-contenido{
    margin-top: 30px;
        .row{
            .col{
                @include bordes(1px solid $color-primario, 15px);
                margin: 10px;
                    h3{
                        margin: 10px;
                    }
            }                
        }
}

    /* Nosotros */
.historia-nosotros{
    display: flex;
        img{
            width: 60%;
        }
        .descripcion-nosotros{
            width: 40%;
            text-align: center;
            align-content: center;
                h1{
                    margin-bottom: 3rem;
                }
                strong{
                    margin: 0 50px;
                }
        }
}
.linea-nosotros{
    display: none;
}
.nosotros-articulo{
    text-align: center;
        h2{
            margin: 50px 0 15px;
        }
}
}