@media (min-width:768px) and (max-width:992px){
    /* Inicio */
.cajas{
    @include bordes(1px solid $color-primario, 25px);
    @include box-model(20px, 20px);
    text-align: center;
        .caja{
            @include bordes(1px solid $color-primario, 25px);
            @include box-model(20px, 25px);
        }
}
.contacto{
    @include bordes(1px solid $color-primario, 20px);
    @include box-model(40px, 10px);
    text-align: center;
}
.telefono{
    display: block;
}
.formulario{
    @include bordes(1px solid $color-primario, 20px);
    @include box-model(30px 40px, 20px);
    display: flex;
}

    /* Sabores */
.sabores-cajas{
    @include bordes(2px solid $color-primario, 20px);
    @include box-model(unset, 20px);
    text-align: center;
        .pino-lemon-img{
            border-radius: 20px 20px 0 0;
        }
        .franuty-pretto-img{
            border-radius: 0px 0px 20px 20px;
        }

}
.caja-scalo{
    @include bordes(3px solid $color-primario, 10px);
    @include box-model(unset, 10px);
    text-align: center;
}
    /* Postres */

    /* Cafeteria */

    /* Nosotros */
.historia-nosotros{
    .descripcion-nosotros{
        text-align: center;
        margin-bottom: 20px;
    }
}
.nosotros-articulo{
    margin-top: 20px;
    text-align: center;
}
}