@media (min-width:320px) and (max-width:768px){
    /* Inicio */
.cajas{
    @include bordes(1px solid solid $color-primario, 25px);
    @include box-model(20px, 20px);
    text-align: center;
        .caja{
            @include box-model(20px, 20px);
        }
}
.contacto{
    @include bordes(1px solid $color-primario, 20px);
    @include box-model(40px, 10px);
    text-align: center;
}
.telefono{
    display: block;
}
.formulario{
    @include bordes(1px solid $color-primario, 20px);
    @include box-model(30px 40px, 20px);
}

    /* Sabores */
.sabores-cajas{
    @include bordes(2px solid $color-primario, 20px);
    @include box-model(0, 20px);
    text-align: center;
        .pino-lemon-img{
        border-radius: 20px 20px 0 0;
        }
        .franuty-pretto-img{
        border-radius: 0px 0px 20px 20px;
        }
}
.caja-scalo{
    @include bordes(3px solid $color-primario, 20px);
    @include box-model(0, 10px);
    text-align: center;
}
    /* Postres */

    /* Cafeteria */
.cafeteria-img-principal{
    width: 100%;
    margin-bottom: 10px
}

     /* Nosotros */
.historia-nosotros{
    img{
        margin-top: 23%;
    }
    .descripcion-nosotros{
        margin-bottom: 20px;
        text-align: center;
    }
}
.nosotros-articulo{
    margin-top: 20px;
    text-align: center;
}
}