@charset "UTF-8";
/* Colores */
/* Mixins */
@media (min-width: 320px) and (max-width: 768px) {
  /* Inicio */
  .cajas {
    border: 1px solid solid #BF9E60;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  .cajas .caja {
    padding: 20px;
    margin: 20px;
  }
  .contacto {
    border: 1px solid #BF9E60;
    border-radius: 20px;
    padding: 40px;
    margin: 10px;
    text-align: center;
  }
  .telefono {
    display: block;
  }
  .formulario {
    width: 100%;
    align-items: center;
  }
  .formulario input, .formulario textarea {
    border: 1px #BF9E60 solid;
    border-radius: 5px;
    font-style: italic;
    margin: 5px;
    width: 100%;
    text-align: center;
  }
  .formulario input::placeholder, .formulario textarea::placeholder {
    color: #BF9E60;
  }
  .formulario .boton-enviar {
    color: whitesmoke !important;
    background-color: #BF9E60;
    padding: 1.5px;
  }
  /* Sabores */
  .sabores-cajas {
    border: 2px solid #BF9E60;
    border-radius: 20px;
    padding: 0;
    margin: 20px;
    text-align: center;
  }
  .sabores-cajas .pino-lemon-img {
    border-radius: 20px 20px 0 0;
  }
  .sabores-cajas .franuty-pretto-img {
    border-radius: 0px 0px 20px 20px;
  }
  .caja-scalo {
    border: 3px solid #BF9E60;
    border-radius: 20px;
    padding: 0;
    margin: 10px;
    text-align: center;
  }
  /* Postres */
  /* Cafeteria */
  .cafeteria-img-principal {
    width: 100%;
    margin-bottom: 10px;
  }
  /* Nosotros */
  .historia-nosotros img {
    margin-top: 23%;
  }
  .historia-nosotros .descripcion-nosotros {
    margin-bottom: 20px;
    text-align: center;
  }
  .nosotros-articulo {
    margin-top: 20px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* Inicio */
  .cajas {
    border: 1px solid #BF9E60;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  .cajas .caja {
    border: 1px solid #BF9E60;
    border-radius: 25px;
    padding: 20px;
    margin: 25px;
  }
  .contacto {
    border: 1px solid #BF9E60;
    border-radius: 20px;
    padding: 40px;
    margin: 10px;
    text-align: center;
  }
  .telefono {
    display: block;
  }
  .formulario {
    width: 100%;
    align-items: center;
  }
  .formulario input, .formulario textarea {
    border: 1px #BF9E60 solid;
    border-radius: 5px;
    font-style: italic;
    margin: 5px;
    width: 100%;
    text-align: center;
  }
  .formulario input::placeholder, .formulario textarea::placeholder {
    color: #BF9E60;
  }
  .formulario .boton-enviar {
    color: whitesmoke !important;
    background-color: #BF9E60;
    padding: 1.5px;
  }
  /* Sabores */
  .sabores-cajas {
    border: 2px solid #BF9E60;
    border-radius: 20px;
    padding: unset;
    margin: 20px;
    text-align: center;
  }
  .sabores-cajas .pino-lemon-img {
    border-radius: 20px 20px 0 0;
  }
  .sabores-cajas .franuty-pretto-img {
    border-radius: 0px 0px 20px 20px;
  }
  .caja-scalo {
    border: 3px solid #BF9E60;
    border-radius: 10px;
    padding: unset;
    margin: 10px;
    text-align: center;
  }
  /* Postres */
  /* Cafeteria */
  /* Nosotros */
  .historia-nosotros .descripcion-nosotros {
    text-align: center;
    margin-bottom: 20px;
  }
  .nosotros-articulo {
    margin-top: 20px;
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  /*Inicio*/
  .cajas {
    border: 1px solid #BF9E60;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  .cajas .caja {
    padding: 20px;
    margin: 20px;
  }
  .contacto {
    border: 1px solid #BF9E60;
    border-radius: 20px;
    padding: 40px;
    margin: 10px;
    text-align: center;
  }
  .contacto .telefono {
    display: block;
  }
  .contacto .consultas-formulario .formulario {
    width: 50%;
    margin: 0 auto;
    align-items: center;
  }
  .contacto .consultas-formulario .formulario input, .contacto .consultas-formulario .formulario textarea {
    border: 1px #BF9E60 solid;
    border-radius: 5px;
    font-style: italic;
    margin: 5px;
    width: 100%;
    text-align: center;
  }
  .contacto .consultas-formulario .formulario input::placeholder, .contacto .consultas-formulario .formulario textarea::placeholder {
    color: #BF9E60;
  }
  .contacto .consultas-formulario .formulario .boton-enviar {
    color: whitesmoke !important;
    background-color: #BF9E60;
    padding: 1.5px;
  }
  /* Sabores */
  .sabores-cajas {
    border: 1px solid #BF9E60;
    border-radius: 20px;
    padding: unset;
    margin: 20px;
    display: flex;
  }
  .sabores-cajas .main-cajas-contenido .pino-lemon-img {
    border-radius: 20px 0 0 20px;
  }
  .sabores-cajas .main-cajas-contenido .franuty-pretto-img {
    border-radius: 0 20px 20px 0;
  }
  .sabores-cajas .main-cajas-contenido h2 {
    text-align: center;
    margin: 20px;
  }
  .sabores-cajas .main-cajas-contenido p {
    margin: 20px;
  }
  .sabores-cajas .main-cajas-contenido .franuty-pretto {
    text-align: end;
  }
  .caja-scalo {
    border: 3px solid #BF9E60;
    border-radius: 20px;
    padding: unset;
    margin: 20px;
    text-align: center;
  }
  .caja-scalo h2 {
    margin: 20px;
  }
  .caja-scalo img {
    width: 100%;
  }
  .caja-scalo p {
    margin: 20px;
  }
  /* Postres */
  .grid-postres {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }
  .grid-postres .tarjeta-postres img {
    width: 100%;
    height: 420px;
  }
  .grid-postres .tarjeta-brownie {
    grid-column: 1/span 2;
    width: 50%;
    margin: 0 auto;
  }
  /* Cafeteria*/
  .cafeteria-img-principal {
    width: 100%;
    margin-bottom: 10px;
  }
  /* Nosotros */
  .historia-nosotros .descripcion-nosotros {
    text-align: center;
    margin-bottom: 20px;
  }
  .nosotros-articulo {
    margin-top: 20px;
    text-align: center;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  /*Inicio*/
  .cajas {
    border: 1px solid #BF9E60;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  .cajas .caja {
    padding: 20px;
    margin: 20px;
  }
  .contacto {
    border: 1px solid #BF9E60;
    border-radius: 20px;
    padding: 40px;
    margin: 10px;
    text-align: center;
  }
  .contacto .info .telefono {
    display: block;
  }
  .contacto .consultas-formulario .formulario {
    width: 50%;
    margin: 0 auto;
    align-items: center;
  }
  .contacto .consultas-formulario .formulario input, .contacto .consultas-formulario .formulario textarea {
    border: 1px #BF9E60 solid;
    border-radius: 5px;
    font-style: italic;
    margin: 5px;
    width: 100%;
    text-align: center;
  }
  .contacto .consultas-formulario .formulario input::placeholder, .contacto .consultas-formulario .formulario textarea::placeholder {
    color: #BF9E60;
  }
  .contacto .consultas-formulario .formulario .boton-enviar {
    color: whitesmoke !important;
    background-color: #BF9E60;
    padding: 1.5px;
  }
  .contacto .consultas-formulario .formulario .boton-enviar:hover {
    color: #BF9E60 !important;
    background-color: whitesmoke;
  }
  /* Sabores */
  .sabores-cajas {
    border: 1px solid #BF9E60;
    border-radius: 20px;
    margin: 20px;
    display: flex;
  }
  .sabores-cajas .pino-lemon-img {
    border-radius: 20px 0 0 20px;
  }
  .sabores-cajas .franuty-pretto-img {
    border-radius: 0 20px 20px 0;
  }
  .sabores-cajas h2 {
    text-align: center;
    margin: 20px;
  }
  .sabores-cajas p {
    margin: 20px;
  }
  .sabores-cajas .franuty-pretto {
    text-align: end;
  }
  .caja-scalo {
    border: 3px solid #BF9E60;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
  }
  .caja-scalo h2, .caja-scalo p {
    margin: 20px;
  }
  .caja-scalo img {
    width: 100%;
  }
  /* Postres */
  .grid-postres {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }
  .grid-postres .tarjeta-postres {
    border: 1px solid #BF9E60;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
  }
  .grid-postres .tarjeta-postres h3 {
    margin: 15px;
  }
  .grid-postres .tarjeta-postres img {
    width: 100%;
    height: 500px;
  }
  .grid-postres .tarjeta-brownie {
    grid-column: 1/span 2;
    width: 50%;
    margin: 0 auto;
  }
  /* Cafeteria */
  .cafeteria-img-principal {
    width: 100%;
    margin: 10px;
  }
  /* Nosotros */
  .historia-nosotros .descripcion-nosotros {
    text-align: center;
    margin-bottom: 20px;
  }
  .nosotros-articulo {
    margin-top: 20px;
    text-align: center;
  }
}
@media (min-width: 1400px) {
  /*Inicio*/
  .cajas {
    border: 1px solid #BF9E60;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  .cajas .caja {
    padding: 20px;
    margin: 20px;
  }
  .contacto {
    border: 2px solid #BF9E60;
    border-radius: 20px;
    padding: 40px;
    margin: 10px;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
  .contacto .info .telefono {
    display: block;
  }
  .contacto .consultas-formulario .formulario {
    width: 50%;
    margin: 0 auto;
    align-items: center;
  }
  .contacto .consultas-formulario .formulario input, .contacto .consultas-formulario .formulario textarea {
    border: 1px #BF9E60 solid;
    border-radius: 5px;
    font-style: italic;
    margin: 5px;
    width: 100%;
    text-align: center;
  }
  .contacto .consultas-formulario .formulario input::placeholder, .contacto .consultas-formulario .formulario textarea::placeholder {
    color: #BF9E60;
  }
  .contacto .consultas-formulario .formulario .boton-enviar {
    color: whitesmoke !important;
    background-color: #BF9E60;
    padding: 1.5px;
  }
  .contacto .consultas-formulario .formulario .boton-enviar:hover {
    color: #BF9E60 !important;
    background-color: whitesmoke;
  }
  /* Sabores */
  .sabores-cajas {
    border: 1px solid #BF9E60;
    border-radius: 20px;
    margin: 20px;
    display: flex;
  }
  .sabores-cajas .pino-lemon-img {
    border-radius: 20px 0 0 20px;
  }
  .sabores-cajas .franuty-pretto-img {
    border-radius: 0 20px 20px 0;
  }
  .sabores-cajas h2 {
    margin: 20px;
    text-align: center;
  }
  .sabores-cajas p {
    margin: 20px;
  }
  .sabores-cajas .franuty-pretto {
    text-align: end;
  }
  .caja-scalo {
    border: 3px solid #BF9E60;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
  }
  .caja-scalo img {
    width: 100%;
  }
  .caja-scalo h2, .caja-scalo p {
    margin: 20px;
  }
  /* Postres */
  .postres-caja-principal {
    width: 50%;
    display: flex;
  }
  .postres-caja-principal img {
    border-radius: 5px;
  }
  .postres-caja-principal h1 {
    display: inline;
    margin-left: 45% !important;
    margin-top: 25% !important;
  }
  .grid-postres {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    margin-top: 20px;
  }
  .grid-postres .tarjeta-postres {
    border: 1px solid #BF9E60;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
  }
  .grid-postres .tarjeta-postres h3 {
    margin: 15px;
  }
  .grid-postres .tarjeta-postres img {
    width: 100%;
    height: 550px;
  }
  .grid-postres .tarjeta-postres p {
    margin: 10px 20px;
  }
  .grid-postres .tarjeta-brownie {
    grid-column: 3;
  }
  .grid-alm-bom {
    display: grid;
    grid-template-columns: repeat(2, auto) !important;
  }
  /* Cafeteria */
  .cafeteria-img-principal {
    width: 100%;
  }
  .cafeteria-contenido {
    margin-top: 30px;
  }
  .cafeteria-contenido .row .col {
    border: 1px solid #BF9E60;
    border-radius: 15px;
    margin: 10px;
  }
  .cafeteria-contenido .row .col h3 {
    margin: 10px;
  }
  /* Nosotros */
  .historia-nosotros {
    display: flex;
  }
  .historia-nosotros img {
    width: 60%;
  }
  .historia-nosotros .descripcion-nosotros {
    width: 40%;
    text-align: center;
    align-content: center;
  }
  .historia-nosotros .descripcion-nosotros h1 {
    margin-bottom: 3rem;
  }
  .historia-nosotros .descripcion-nosotros strong {
    margin: 0 50px;
  }
  .linea-nosotros {
    display: none;
  }
  .nosotros-articulo {
    text-align: center;
  }
  .nosotros-articulo h2 {
    margin: 50px 0 15px;
  }
}
/* Navbar */
.navbar {
  background-color: rgba(140, 110, 73, 0.8235294118);
}

.logo {
  width: 50px;
  height: 50px;
}

.foto-principal {
  width: 100%;
  height: 0;
  margin-bottom: 20px;
}

#carouselExampleFade {
  margin-bottom: 20px;
}

.titulo-inicio {
  letter-spacing: 5px;
}

.parrafo-inicio {
  margin: 0;
}

/* Estilos de botones */
.boton-estilos {
  color: rgba(242, 242, 242, 0.9098039216) !important;
}
.boton-estilos:hover {
  background-color: #f2f2f2 !important;
  color: #BF9E60 !important;
}

/* Contenido y estilos generales de main */
/* Main de Index */
/* Estilos de Acordion */
.estilo-acordion {
  color: #BF9E60 !important;
  display: inline;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.3rem;
}

.acordion-posicionamiento {
  border: 1px #BF9E60 solid;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
}

#accordionExample {
  border: unset;
}

.cajas hr {
  width: 90%;
  margin: 0 auto;
  border: 1.5px solid;
}

.section-precios {
  display: flex;
  width: 90% !important;
  height: 90% !important;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.section-precios img {
  border-radius: 25px;
}

/* Main de Sabores */
.sabores-titulo {
  margin-top: 30px;
  text-decoration: underline;
  text-align: center;
}

/* Main de Postres */
.postres-caja-principal img {
  margin-top: 75px;
}
.postres-caja-principal .postres-titulo {
  padding: unset;
  margin: 20px;
  text-align: center;
  font-weight: 600;
}

.linea-divisora-postres {
  color: #BF9E60;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.tarjeta-postres {
  border: 1px solid #BF9E60;
  border-radius: 15px;
  padding: 0;
  margin: 20px;
  text-align: center;
}
.tarjeta-postres h3 {
  padding: 0;
  margin: 15px;
}
.tarjeta-postres img {
  width: 100%;
}

/* Cafetería */
.tarjeta-cafeteria {
  border: 1px solid #BF9E60;
  border-radius: 15px;
  padding: 0;
  margin: 10px;
}
.tarjeta-cafeteria h3 {
  padding: 0;
  margin: 10px;
}

/* Pie de Pagina */
footer {
  margin-top: 40px;
}
footer .card {
  color: #e4e4e4 !important;
}
footer .card .card-footer {
  background-color: rgba(200, 167, 111, 0.8431372549);
}
footer .card .card-body {
  background-color: rgba(200, 167, 111, 0.8431372549);
}
footer .card .card-body h5 {
  margin: 10px;
  font-size: 30px !important;
}
footer .card .card-body p {
  color: #e4e4e4 !important;
}

path {
  color: #e4e4e4 !important;
}

.iconos {
  justify-content: center;
  align-items: center;
}

.alinear {
  text-align: center !important;
}

/* Tipografía, propiedades y estilos */
/* Colores */
* {
  margin: 0;
  padding: 0;
  color: #BF9E60;
  max-width: 100%;
  font-family: "Moderustic", sans-serif;
}

p {
  font-family: "Moderustic";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/moderustic/v1/2-ci9J9s3o6eLFNHFdXYQuTdoKFD.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

h1 {
  font-family: "Moderustic";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/moderustic/v1/2-ci9J9s3o6eLFNHFdXYQuTdoKFD.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

h2, h3 {
  font-family: "Moderustic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/moderustic/v1/2-ci9J9s3o6eLFNHFdXYQuTdoKFD.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* Index */
ul {
  list-style-type: none;
}
ul li {
  padding: 15px;
}

.precios-img {
  width: 100%;
  margin-top: 20px;
}

.cajas .caja .pedidos-grandes {
  font-size: 1.6rem;
}
.cajas .caja .numero {
  font-size: 2rem;
}
.cajas .caja-horarios {
  display: flex;
  justify-content: center;
  gap: 50px;
}

iframe {
  width: 100%;
}

.contacto .info a {
  color: #BF9E60;
}

/* Nosotros */
.icono-nosotros {
  color: #BF9E60 !important;
}

/*# sourceMappingURL=styles.css.map */
