/* Mixins */
@mixin medidas($width, $height){
    width: $width;
    height: $height;
}
@mixin bordes($borde, $radio){
    border: $borde;
    border-radius: $radio;
}
@mixin box-model($padding, $margin){
    padding: $padding;
    margin: $margin;
}