/* Pie de Pagina */
footer{
    justify-content: center;
    align-items: center;
    display: flex;
}
.iconos{
    justify-content: center;
    align-items: center;
} 
.alinear{
        text-align: center !important;
}