@use '../variables' as *;
@use '../mixins' as *;

@media (min-width:768px) and (max-width:992px){
    /* Inicio */
.cajas{
    @include bordes(1px solid $color-primario, 25px);
    @include box-model(20px, 20px);
    text-align: center;
        .caja{
            @include bordes(1px solid $color-primario, 25px);
            @include box-model(20px, 25px);
        }
}
.contacto{
    @include bordes(1px solid $color-primario, 20px);
    @include box-model(40px, 10px);
    text-align: center;
}
.telefono{
    display: block;
}
.formulario{
    width: 100%;
    align-items: center;
        input, textarea{
            border: 1px $color-primario solid;
            border-radius: 5px;
            font-style: italic;
            margin: 5px;
            width: 100%;
            text-align: center;
                &::placeholder{
                    color: $color-primario
                }
        }
        .boton-enviar{
            color: whitesmoke !important;
            background-color: $color-primario;
            padding: 1.5px;
        }
}

    /* Sabores */
.sabores-cajas{
    @include bordes(2px solid $color-primario, 20px);
    @include box-model(unset, 20px);
    text-align: center;
        .pino-lemon-img{
            border-radius: 20px 20px 0 0;
        }
        .franuty-pretto-img{
            border-radius: 0px 0px 20px 20px;
        }

}
.caja-scalo{
    @include bordes(3px solid $color-primario, 10px);
    @include box-model(unset, 10px);
    text-align: center;
}
.seccion-sabores-titulo{
    text-align: center;
    margin: 20px;
}
.seccion-sabores{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 30px;
        img{
            width: 100px;
            height: 100px;
        }
        .tarjeta-sabores{
            flex-direction: column;
            text-align: center;
            margin: 0 auto;
            width: 50%;
            height: 100%;
            h4{
                width: 100%;
                margin-bottom: 20px;
            }
            p{
                margin: 0;
            }
        }
}
    /* Postres */

    /* Cafeteria */

    /* Nosotros */
.historia-nosotros{
    .descripcion-nosotros{
        text-align: center;
        margin-bottom: 20px;
    }
}
.nosotros-articulo{
    margin-top: 20px;
    text-align: center;
}
}