
*{
    margin: 0;
    padding: 0;
    color: #BF9E60 !important;
    max-width: 100%;
}
/*Posición y tamaño del logo. */
.navbar{
    background-color: #8c6e49e1;
    z-index: 1000;
}
.logo{
    width: 50px;
    height: 50px;
}
.foto-principal{
    width: 100%;
    margin-bottom: 20px;
}
#carouselExampleFade{
    margin-bottom: 20px;
}

@media (min-width:320px) and (max-width:768px){
    body{
        /* Inicio */
        .cajas{
            border: 1px solid #8c6e49;
            border-radius: 25px;
            padding: 20px;
            margin: 20px;
            text-align: center;
        }
        .caja{
            border: 1px solid #8C6E49;
            padding: 20px;
            border-radius: 25px;
            margin: 20px;
        }
        .contacto{
            text-align: center;
            border: 1px solid #8C6E49;
            border-radius: 20px;
            margin: 10px;
            padding: 40px;
        }
        .telefono{
            display: block;
        }
        .formulario{
            border: 1px solid #8C6E49;
            border-radius: 20px;
            margin: 20px;
            padding: 30px 40px;
        }
        

        /* Sabores */
        .sabores-titulo{
            text-align: center;
            text-decoration: underline;
            margin-top: 30px;
        }
        .sabores-cajas{
            text-align: center;
            margin: 20px;
            border: 2px solid #8c6e49e1;
            border-radius: 20px;
        }
        .pino-lemon-img{
            border-radius: 20px 20px 0 0;
        }
        .franuty-pretto-img{
            border-radius: 0px 0px 20px 20px;
        }
        .caja-scalo{
            text-align: center;
            border: 3px solid #8c6e49e1;
            border-radius: 20px;
            margin: 10px;
        }

        /* Postres */
        .postres-img-principal{
            margin-top: 75px;
        }
        .postres-titulo{
            text-align: center;
            text-decoration: underline;
            margin: 20px;
        }
        .tarjeta-postres{
            text-align: center;
            border: 1px solid #8C6E49;
            border-radius: 15px;
            margin: 20px;
        }
        .tarjeta-postres h3{
            margin: 15px;
        }
        .tarjeta-postres img{
            width: 100%;
        }
        .linea-divisora{
            width: 90%;
            margin: 0 auto;
        }

        /* Cafeteria */
        .cafeteria-img-principal{
            width: 100%;
        }
        .tarjeta-cafeteria{
            border: 1px solid #8C6E49;
            border-radius: 15px;
            margin: 10px;
        }
        .tarjeta-cafeteria h3{
            margin: 10px;
        }

        /* Nosotros */
        .foto-principal-nosotros{
            margin-top: 23%;
        }
        .descripcion-nosotros{
            text-align: center;
            margin-bottom: 20px;
        }
        .nosotros-articulo{
            margin-top: 20px;
            text-align: center;
        }

    }
}

@media (min-width:768px) and (max-width:992px){
    body{
        /*Inicio*/
        .cajas{
            border: 1px solid #8c6e49;
            border-radius: 25px;
            padding: 20px;
            margin: 20px;
            text-align: center;
        }
        .caja{
            border: 1px solid #8C6E49;
            padding: 20px;
            border-radius: 25px;
            margin: 20px;
        }
        .contacto{
            text-align: center;
            border: 1px solid #8C6E49;
            border-radius: 20px;
            margin: 10px;
            padding: 40px;
        }
        .telefono{
            display: block;
        }
        .formulario{
            border: 1px solid #8C6E49;
            border-radius: 20px;
            margin: 20px;
            padding: 30px 40px;
            display: flex;
        }

        /* Sabores */
        .sabores-titulo{
            text-align: center;
            text-decoration: underline;
            margin-top: 30px;
        }
        .sabores-cajas{
            text-align: center;
            margin: 20px;
            border: 2px solid #8c6e49e1;
            border-radius: 20px;
        }
        .pino-lemon-img{
            border-radius: 20px 20px 0 0;
        }
        .franuty-pretto-img{
            border-radius: 0px 0px 20px 20px;
        }
        .caja-scalo{
            text-align: center;
            border: 3px solid #8c6e49e1;
            border-radius: 20px;
            margin: 10px;
        }
        
        /* Postres */
        .postres-img-principal{
            margin-top: 75px;
        }
        .postres-titulo{
            text-align: center;
            text-decoration: underline;
            margin: 20px;
        }
        .tarjeta-postres{
            text-align: center;
            border: 1px solid #8C6E49;
            border-radius: 15px;
            margin: 20px;
        }
        .tarjeta-postres h3{
            margin: 15px;
        }
        .tarjeta-postres img{
            width: 100%;
        }
        .linea-divisora{
            width: 90%;
            margin: 0 auto;
        }

        /* Cafeteria */
        .cafeteria-img-principal{
            width: 100%;
        }
        .tarjeta-cafeteria{
            border: 1px solid #8C6E49;
            border-radius: 15px;
            margin: 10px;
        }
        .tarjeta-cafeteria h3{
            margin: 10px;
        }

            /* Nosotros */
        .descripcion-nosotros{
            text-align: center;
            margin-bottom: 20px;
        }
        .nosotros-articulo{
            margin-top: 20px;
            text-align: center;
        }
    }
}

@media (min-width:992px) and (max-width:1200px){
    body{
        /*Inicio*/
        .cajas{
            border: 1px solid #8c6e49;
            border-radius: 25px;
            padding: 20px;
            margin: 20px;
            text-align: center;
        }
        .caja{
            border: 1px solid #8C6E49;
            padding: 20px;
            border-radius: 25px;
            margin: 20px;
        }
        .contacto{
            text-align: center;
            border: 1px solid #8C6E49;
            border-radius: 20px;
            margin: 10px;
            padding: 40px;
        }
        .telefono{
            display: block;
        }
        .formulario{
            border: 1px solid #8C6E49;
            border-radius: 20px;
            margin: 20px;
            padding: 30px 40px;
            display: flex;
        }

        /* Sabores */
        .sabores-titulo{
            text-align: center;
            text-decoration: underline;
            margin-top: 30px;
        }
        .sabores-cajas{
            display: flex;
            margin: 20px;
            border: 1px solid #8c6e49;
            border-radius: 20px;
        }
        .caja-scalo{
            text-align: center;
            margin: 20px;
            border: 3px solid #8c6e49e1;
            border-radius: 20px;
        }
        .pino-lemon-img{
            border-radius: 20px 0 0 20px;
        }
        .pino-lemon{
            margin: 20px;
        }
        .franuty-pretto{
            margin: 20px;
        }
        h2.franuty-pretto, h2.pino-lemon{
            text-align: center;
        }
        p.franuty-pretto{
            text-align: end;
        }
        .franuty-pretto-img{
            border-radius: 0 20px 20px 0;
        }
        .img-scalo{
            width: 100%
        }
        .scalo-titulo{
            margin: 20px;
        }
        .caja-scalo p{
            margin: 20px;
        }

        /* Postres */
        .postres-titulo{
            text-align: center;
            text-decoration: underline;
            margin: 20px;
        }
        .grid-postres{
            display: grid;
            grid-template-columns: repeat(2, auto);
        }
        .tarjeta-postres{
            text-align: center;
            border: 1px solid #8C6E49;
            border-radius: 15px;
            margin: 20px;
        }
        .tarjeta-postres h3{
            margin: 15px;
        }
        .tarjeta-postres img{
            width: 100%;
            height: 420px;
        }
        .linea-divisora{
            width: 90%;
            margin: 0 auto;
            margin-top: 20px !important;
        }
        .tarjeta-brownie{
            grid-column: 1 / span 2;
            width: 50%;
            margin: 0 auto;
        }

        /* Cafeteria */
        .cafeteria-img-principal{
            width: 100%;
        }
        .tarjeta-cafeteria{
            border: 1px solid #8C6E49;
            border-radius: 15px;
            margin: 10px;
        }
        .tarjeta-cafeteria h3{
            margin: 10px;
        }

            /* Nosotros */
        .descripcion-nosotros{
            text-align: center;
            margin-bottom: 20px;
        }
        .nosotros-articulo{
            margin-top: 20px;
            text-align: center;
        }
    }
}

@media (min-width:1200px) and (max-width:1400px){
    body{
        /*Inicio*/
        .cajas{
            border: 1px solid #8c6e49;
            border-radius: 25px;
            padding: 20px;
            margin: 20px;
            text-align: center;
        }
        .caja{
            border: 1px solid #8C6E49;
            padding: 20px;
            border-radius: 25px;
            margin: 20px;
        }
        .contacto{
            text-align: center;
            border: 1px solid #8C6E49;
            border-radius: 20px;
            margin: 10px;
            padding: 40px;
        }
        .telefono{
            display: block;
        }
        .formulario{
            border: 1px solid #8C6E49;
            border-radius: 20px;
            margin: 20px;
            padding: 30px 40px;
            display: flex;
        }

        /* Sabores */
        .sabores-titulo{
            text-align: center;
            text-decoration: underline;
            margin-top: 30px;
        }
        .sabores-cajas{
            display: flex;
            text-align: center;
            margin: 20px;
            border: 1px solid #8c6e49;
            border-radius: 20px;
        }
        .caja-scalo{
            text-align: center;
            margin: 20px;
            border: 3px solid #8c6e49e1;
            border-radius: 20px;
        }
        .pino-lemon-img{
            border-radius: 20px 0 0 20px;
        }
        .pino-lemon{
            margin: 20px;
        }
        .franuty-pretto{
            text-align: center;
            margin: 20px;
        }
        .franuty-pretto-img{
            border-radius: 0 20px 20px 0;
        }
        .img-scalo{
            width: 100%
        }
        .scalo-titulo{
            margin: 20px;
        }
        .caja-scalo p{
            margin: 20px;
        }
        
        /* Postres */
        .postres-titulo{
            text-align: center;
            text-decoration: underline;
            margin: 40px;
        }
        .grid-postres{
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 10px;
        }
        .tarjeta-postres{
            text-align: center;
            border: 1px solid #8C6E49;
            border-radius: 15px;
            margin: 20px;
        }
        .tarjeta-postres h3{
            margin: 15px;
        }
        .tarjeta-postres img{
            width: 100%;
            height: 500px;
        }
        .linea-divisora{
            width: 90%;
            margin: 0 auto;
        }
        .tarjeta-brownie{
            grid-column: 1 / span 2;
            width: 50%;
            margin: 0 auto;
        }

        /* Cafeteria */
        .cafeteria-img-principal{
            width: 100%;
        }
        .tarjeta-cafeteria{
            border: 1px solid #8C6E49;
            border-radius: 15px;
            margin: 10px;
        }
        .tarjeta-cafeteria h3{
            margin: 10px;
        }

        /* Nosotros */
        .descripcion-nosotros{
            text-align: center;
            margin-bottom: 20px;
        }
        .nosotros-articulo{
            margin-top: 20px;
            text-align: center;
        }
    }
}
@media (min-width:1400px){
    body{
        /*Inicio*/
        .cajas{
            border: 1px solid #8c6e49;
            border-radius: 25px;
            padding: 20px;
            margin: 20px;
            text-align: center;
        }
        .caja{
            border: 1px solid #8C6E49;
            padding: 20px;
            border-radius: 25px;
            margin: 20px;
        }
        .telefono{
            display: block;
        }
        .contacto {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border: 1px solid #8C6E49;
            border-radius: 20px;
            margin: 4rem 13rem;
        }
        .info {
            width: 50%;
            text-align: center;
        }
        .consultas-formulario textarea { 
            padding: 10px;
            border: 1px solid #8C6E49;
            align-items: flex-end;
          }
        .consultas-formulario{
            border: 1px solid #8C6E49;
            border-radius: 20px;
            position: relative;
            width: 50%;
            padding: 40px;
        }
        .consulta-envianos-consulta{
            width: 50%;
            display: flex;
            position: absolute;
        }
        .formulario{
            width: 100%;
            display: inline-flex

        }
        input{
            justify-self: center
        }

        /* Sabores */
        .sabores-titulo{
            text-align: center;
            text-decoration: underline;
            margin-top: 30px;
        }
        .sabores-cajas{
            display: flex;
            text-align: center;
            margin: 20px;
            border: 1px solid #8c6e49;
            border-radius: 20px;
        }
        .caja-scalo{
            text-align: center;
            margin: 20px;
            border: 3px solid #8c6e49e1;
            border-radius: 20px;
        }
        .pino-lemon-img{
            border-radius: 20px 0 0 20px;
        }
        .pino-lemon{
            margin: 20px;
        }
        .franuty-pretto{
            text-align: center;
            margin: 20px;
        }
        .franuty-pretto-img{
            border-radius: 0 20px 20px 0;
        }
        .img-scalo{
            width: 100%
        }
        .scalo-titulo{
            margin: 20px;
        }
        .caja-scalo p{
            margin: 20px;
        }
        
        /* Postres */
        .postres-caja-principal{
            display: flex;
            width: 50%;
        }
        .postres-img-principal{
            border-radius: 5px;
        }
        .postres-titulo{
            text-align: center;
            text-decoration: underline;
            display: inline;
            margin-left: 45%;
            margin-top: 25%;

        }
        .grid-postres{
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 10px;
            margin-top: 20px;
        }
        .tarjeta-postres{
            text-align: center;
            border: 1px solid #8C6E49;
            border-radius: 15px;
            margin: 20px;
        }
        .tarjeta-postres h3{
            margin: 15px;
        }
        .tarjeta-postres img{
            width: 100%;
            height: 550px;
        }
        .linea-divisora{
            width: 90%;
            margin: 0 auto;
        }
        .tarjeta-brownie{
            grid-column: 3;
        }
        .grid-alm-bom{
            display: grid;
            grid-template-columns: repeat(2, auto) !important;
        }

        /* Cafeteria */
        .cafeteria-contenido{
            margin-top: 30px;
        }
        .cafeteria-img-principal{
            width: 100%;
        }
        .tarjeta-cafeteria{
            border: 1px solid #8C6E49;
            border-radius: 15px;
            margin: 10px;
        }
        .tarjeta-cafeteria h3{
            margin: 10px;
        }

        /* Nosotros */
        .foto-principal-nosotros{
            width: 60%;
        }
        .descripcion-nosotros{
            width: 40%;
            text-align: center;
            align-content: center;
        }
        .descripcion-nosotros h1{
            margin-bottom: 3rem;
        }
        .descripcion-nosotros strong{
            margin: 0 50px;
        }
        .historia-nosotros{
            display: flex;
        }
        .nosotros-articulo{
            text-align: center;
        }
        .nosotros-articulo h2{
            margin: 50px 0 15px;
        }
        .linea-nosotros{
            display: none;
        }
    }
}

    /* Dropdown */
    summary{
        text-align: center;
        padding: 25px;
    }
    details{
        text-align: center;
    }
    details[open] summary{
        background-color: #8C6E49;
    }

    details summary::-webkit-details-marker {
        display: none;
    }
    .sabores{
        text-align: center;
    }
    li{
        padding: 15px;
    }
    ul{
        list-style-type: none;
    }

    /* Precios */
    .precios-img{
        width: 100%;
        margin-top: 20px;
    }
            
    /* Mapa */
    iframe{
        width: 100%;
        }
            
    /* Pie de pagina */ 
    footer{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .iconos{
        justify-content: center;
        align-items: center;
    } 

    .alinear{
        text-align: center !important;
    }